#!/usr/bin/make -f
# -*- makefile -*-
#
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_autoreconf:
	NOCONFIGURE=1 dh_autoreconf ./autogen.sh

override_dh_install:
	find debian/indicator-datetime/ -name \*.la -delete
	find debian/indicator-datetime/ -name \*.a -delete
	cd po; intltool-update --pot --verbose
	# Language packs
	for d in $$(find debian/indicator-datetime/ -type f \( -name "*.desktop" -o -name "*.directory" \) ); do \
		sed -ri '/^(Name|GenericName|Comment|X-GNOME-FullName)\[/d' $$d; \
		echo "X-Ubuntu-Gettext-Domain=indicator-datetime" >> $$d; \
       	done;
	dh_install

%:
	dh $@ --with autoreconf
